.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  display: none;
  width: 2rem;
  height: 2rem;
  position: relative;
  top: 50%;
  left: 50%;
}

.results {
  display: flex;
  justify-items: center;

  @include tablet {
    flex: 0 1 50%;
    flex-flow: row wrap;
  }
  & a {
    text-decoration: none;
  }

  & ul {
    flex-flow: column wrap;
    list-style: none;
    padding: 0;

    @include tablet {
      display: flex;
      flex-flow: row wrap;
    }
  }

  & li {
    flex: 1 1 auto;

    @include tablet {
      display: inline-block;
      flex: 0 1 50%;
      flex-flow: row wrap;
      margin: 0;
    }
    @include desktop {
      flex: 0 1 25%;
    }
  }

  & .article_box {
    display: flex;
    height: 420px;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: center;
    align-items: flex-end;
  }
}

.abstract {
  background-color: rgba($color: #000, $alpha: 0.6);
  color: #fff;
  line-height: 1.5;

  & p {
    margin: 0;
    padding: 0.5rem;
  }
}
