.loader {
  display: none;
  width: 2rem;
  height: 2rem;
  position: relative;
  align-items: center;
}

.results_container {
  width: 100%;
}

.results {
  display: flex;
  justify-items: center;
}

.results a {
  text-decoration: none;
}

.results ul {
  flex-flow: column wrap;
  list-style: none;
  padding: 0;
}

.results li {
  flex: 1 1 auto;
  width: 100%;
}

.results .article_box {
  height: 420px;
  background-size: cover;
}
