.loader {
  display: none;
  width: 2rem;
  height: 2rem;
  position: relative;
  align-items: center;
}

.results {
  display: flex;
  justify-items: center;
  width: 100%;
}

.results ul {
  display: flex;
  flex-flow: column wrap;
}

.results li {
  flex: 1 1 auto;
  width: 100%;
}
