.logo_and_form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.nyt_logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
}

