.logo_and_form {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  @include tablet {
    flex-direction: row;
    align-items: center;
    .after-select {
      height: unset;
      justify-content: unset;
      align-content: unset;
    }
  }
}

.after-select {
  @include desktop {
    height: unset;
    justify-content: unset;
    align-content: unset;
  }

  @include tablet {
    height: unset;
    justify-content: unset;
    align-content: unset;
  }
}

.nyt_logo {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out 0.5s;

  @include tablet {
    flex: 0 1 25%;
    max-width: 120px;
    height: 8rem;
  }
}
